body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #142e46;
  }
  
  
  .main-content {
    background-color: #526374;  
    min-height: 100vh;          
    padding: 20px;              
  }

