body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #142e46;
  }
  
  /* Style for the main content excluding the header */
  .main-content {
    background-color: #526374;  /* Choose your desired background color */
    min-height: 100vh;          /* Ensure it covers the full height */
    padding: 20px;              /* Optional: Add some padding for spacing */
  }

